<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/style.css">
  <title>Dictionary</title>
</head>
<body>
  <div class="wrapper">
    <form action="/submit" method="POST">
      <div class="heading">
        <h1>Online Dictionary</h1>
      </div>
    <input name="key" class="key" placeholder="Enter a word" type="text">
    <button type="submit">Submit</button>
    <div class="footer">
      <h2>Powered by <a href="https://dictionaryapi.dev/">Dictionary API</a></h2>
    </div>
    </form>
  </div>
  <div class="api">
    <% if (definition) { %>
      <h1 id="title"><%= word[0].toUpperCase() + word.slice(1) %></h1>
      <p id="content"><span id="sp">Meaning</span>: <%= definition[0].meanings[0].definitions[0].definition %></p>
      <% if (definition[0].phonetics[0].audio) { %>
        <audio controls>
        <source src="<%= definition[0].phonetics[0].audio %>" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      <% } %>
      <p id="content"><span id="sp">Example</span>: <%= definition[0].meanings[0].definitions[0].example %></p>
      <h2 class="footer2">Please note that every word does not have all the available fields or can be inaccurate.</h2>
    <% } else {%>
      <p id="first"><%= note %></p>
      <h2 class="footer2">Please note that every word does not have all the available fields or can be inaccurate.</h2>
      <% } %>
  </div>
</body>
</html>